# Copia este archivo, renombralo a application-dev.properties
# y rellena con tus credenciales locales

# Base de datos local
spring.datasource.url=jdbc:postgresql://localhost:5432/NOMBRE_BASE_DATOS
spring.datasource.username=USUARIO_POSTGRES
spring.datasource.password=PASSWORD_POSTGRES

# JWT
api.security.secret=CUALQUIER_STRING_LARGO_PARA_DEV
api.security.expiration=7200

# Tiempo de expiración del token de restablecimiento de contraseña en minutos
api.security.reset-token-expiracion-minutos=30

# Email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=TU_EMAIL_GMAIL
spring.mail.password=TU_PASSWORD_DE_APLICACION_GMAIL
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.mail.default-encoding=UTF-8

# Carrito
api.carrito.expiracion-minutos=12
api.carrito.notificacion-minutos-antes=5
api.carrito.scheduler-intervalo=PT3M
api.carrito.scheduler-delay-inicial=PT3M

# Porcentaje IVA
api.impuestos.iva=0.12

# Servicios de envio
api.envio.monto-minimo-gratis=500.00

# Storage
api.storage.provider=local
api.storage.local.path=uploads/comprobantes
api.storage.allowed-types=image/png,image/jpeg,application/pdf
api.storage.max-size-mb=5

# Cloudinary
# api.storage.cloudinary.cloud-name=CLOUDINARY_CLOUD_NAME
# api.storage.cloudinary.api-key=CLOUDINARY_API_KEY
# api.storage.cloudinary.api-secret=CLOUDINARY_API_SECRET

# Moneda
api.moneda.codigo=GTQ
api.moneda.simbolo=Q
api.moneda.nombre=Quetzal
api.moneda.locale=es-GT
api.moneda.decimales=2

# Moneda - Peso chileno
api.moneda.codigo=CLP
api.moneda.simbolo=$
api.moneda.nombre=Peso Chileno
api.moneda.locale=es-CL
api.moneda.decimales=0

# Webpay Plus
api.webpay.ambiente=integracion
api.webpay.commerce-code=
api.webpay.api-key=
api.webpay.return-url=http://localhost:5173/checkout/webpay/retorno
api.webpay.webhook-secret=SECRET_WEBHOOK