# Copia este archivo, renombralo a application-dev.properties
# y rellena con tus credenciales locales

# Base de datos local
spring.datasource.url=jdbc:postgresql://localhost:5432/NOMBRE_BASE_DATOS
spring.datasource.username=USUARIO_POSTGRES
spring.datasource.password=PASSWORD_POSTGRES

# JWT
api.security.secret=CUALQUIER_STRING_LARGO_PARA_DEV
api.security.expiration=7200